


.container {
    display: flex;
    flex-direction: column;
    padding: 10rem;
    padding-left: 5rem;
    align-content: center;
    justify-content: center;
}

.orders {
    font-size: 1.5em;
    
}


.btn-info {
    background-color: var(--info);
  }
  
  .btn-info:hover {
    background-color: #9adc0de7;
  }

  .btn-danger {
    background-color: var(--warning);
  }
  
  .btn-danger:hover {
    background-color: #f22606;
  }