

.btn-info {
    background-color: var(--info);
  }
  
  .btn-info:hover {
    background-color: #9adc0de7;
  }

  .btn-danger {
    background-color: var(--warning);
  }
  
  .btn-danger:hover {
    background-color: #f22606;
  }