.page-heading {
    text-align: center;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
}

.nav-btn {
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
}

.left-btn {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
}

.employee-form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.form-group {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
